modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Bot Dev"

[[workflows.workflow]]
name = "Dev"
author = 39354119
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bot && npm run dev"

[[workflows.workflow]]
name = "Bot Dev"
author = 39354119
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bot && node index.js"

[[workflows.workflow]]
name = "Frontend Dev"
author = 39354119
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Bot"
author = 39354119
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bot && node index.js"
